<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- CSS Styles -->
    <link th:href="@{/styles/index.css}" rel="stylesheet" type="text/css"/>
    <title>Binärrechner</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <form action="#">
                <h1>Binärrechner</h1>
                <label>Binär-Zahl:
                    <input type="text" autofocus>
                </label>
                <input type="submit" value="Binärzahl in Dezimalzahl umrechnen">
            </form>
        </div>
    </div>
    
</body>
</html>